/* You can add global styles to this file, and also import other style files */

.box-shadow{ 
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); 
}

.center-pane{
    margin-top: 30%;
}

.user-details-box{
    padding: 10%;
}